*.xlsx
env/
logs/
.cache/
sql.log
.~*
__pycache__/
*.pyc
static/*
!static/
!static/print_includes/
!static/print_includes/**
captcha.png
.venv/
cron.log
files/
profile.json
profile.html
*.json
*.txt
!background/billing_config.json
